version: '3'
services:
  web:
    image: t2_spring_8192
    build: .
    ports:
      - "8192:8085"
    volumes:
      - persistent_volume:/app/volumes
    restart: unless-stopped
volumes:
  persistent_volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/ubuntu/tri2/t2_spring_8192/volumes
